* {
    padding: 0%;
    margin: 0%;
}

body {
    background-color: red;
}

nav {
    background-color: #333;
    text-align: center;
    display: flex;
    align-items: center;
    align-self: center;
    justify-content: center;
    gap: 0.4rem;
    padding: 2.5rem;
}

span {
    font-size: 3rem;
    background: -webkit-linear-gradient(#eee, #3f3c3c);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

section {
    display: flex;
    justify-content: center;
    margin: 2rem auto;
}

.container {

    width: 40vw;
    border: 1px solid #3f3c3c;
    background-color: white;
    border-radius: 2rem;
}

h5 {
    background: -webkit-linear-gradient(#241717, #130bb4);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    margin: 0.8rem;
    font-size: 2rem;
    text-align: center;
}

.data {
    display: flex;
    justify-content: center;
    margin: 2rem 1rem;
    gap: 0.2em;
}

#text1 {
    flex: 1;
    height: 2.2rem;
    border-radius: 3rem;
    font-size: 1.5rem;
    padding-left: 2rem;
}

#btn {
    width: 4rem;
    border-radius: 3rem;
    transition: all 0.5s ease-in;
    background-color: rgb(147, 147, 222);
    font-size: 1rem;

}

#btn:hover {
    background-color: white;
    width: 5rem;
    border: 2px solid blueviolet;
}

ul li {
    list-style: none;
    padding: 1rem 3rem;
    position: relative;
    font-size: 2rem;
}

ul li::before {
    content: '';
    position: absolute;
    height: 28px;
    width: 28px;
    top: 15 px;
    left: 10px;
    background-image: url(unchecked.png);
    object-fit: cover;
    background-size: cover;
    border-radius: 50%;
    background-position: center;

}

ul li.checked {
    color: gray;
    text-decoration: line-through;
}

ul li.checked::before {
    background-image: url(checked.png);
}

ul li span {
    position: absolute;
    right: 11%;
    top: 6%;
    font-size: 2rem;
    height: 35px;
    width: 35px;
    color: #555;
    text-align: center;
    border-radius: 50%;
}

ul li span:hover {
    background-color: #edeef0;
    cursor: pointer;

}